.root {
  width: 100vw;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.monthsPrimary {
  position: relative;
  width: 100%;
  height: 9vw;

  font-family: "Afisha Display";
  font-style: normal;
  font-weight: 500;
  font-size: 7vw;
  line-height: 118%;
}

.monthsSecondary {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;

  font-family: "Afisha Display";
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
}

.monthsPassed {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: rgba(187, 187, 187, 1);
}

.monthsUpcoming {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: rgba(0, 0, 0, 1);
}